.container {
  width: 60%;
  margin: 2rem auto;
  .label {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
    color: var(--main-color);
  }
  .blogForm {

  }
  .paragraphs {
    .paragraph {
      .paragraphTitle {
        font-size: 1.2rem;
        font-weight: bold;
      }
      .removeButton {
        display: flex;
        justify-content: end;
      }
    }
    .swapLogo {
      display: flex;
      justify-content: center;
      font-size: 1.6rem;
      color: var(--main-color);
      cursor: pointer;
      background-color: white;
      border: 1px solid black;
      border-radius: 1rex;
      padding: 0.2ex 0.5ex;
      width: fit-content;
      margin: 2rem auto;
      transition: 0.2s ease;
      &:hover {
        transform: scale(1.05);
        background-color: var(--main-color);
        color: white;
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rex;
  }
  .blogsCrudButtons {
    display: flex;
    justify-content: center;
    gap: 1rex;
    margin-top: 2rem;
  }
}