.faqContainer {
  width: 70%;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  align-items: flex-start;
  & > * {
    margin: 1rem
  }
  .imageContainer {
    position: relative;
    aspect-ratio: 3/2;
    width: 50%;
    .image {
      object-fit: contain;
    }
  }
  .faqItems {
    width: 50%;
    .qaContainer {
      .question {
        cursor: pointer;
        font-weight: 600;
        padding: 1rex 0;
      }
      .answer {
        font-style: italic;
        padding: 1rem;
      }
    }

  }
}