.faqContainer {
  display: flex;
  align-items: flex-start;
  width: 60%;
  margin: 4rem auto;
  gap: 2rem;
  @media (max-width: 1500px) {
    flex-direction: column;
  }
  .imageContainer {
    position: relative;
    aspect-ratio: 3/2;
    width: 100%;
    .image {
      object-fit: contain;
      mask-image: radial-gradient(circle, black 70%, transparent 100%);
    }
  }
  .faqItems {
    width: 100%;
    .qaContainer {
      .question {
        cursor: pointer;
        font-weight: 600;
        padding: 1rex 0;
      }
      .answer {
        font-style: italic;
        padding: 1rem;
      }
    }

  }
}