name = "vni"
main = ".open-next/worker.js"
compatibility_date = "2025-03-25"

compatibility_flags = ["nodejs_compat"]

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[[r2_buckets]]
binding = "VNI_R2_BUCKET"
bucket_name = "vitali-nutrition-inc-contents-prod"
