.regulatoryComplianceItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .iconContainer {
    position: relative;
    aspect-ratio: 1/1;
    width: 30%;
    @media (max-width: 1500px) {
      width: 10%;
    }
    .icon {
      object-fit: contain;
    }
  }
  .header {
    font-weight: 500;
    color: var(--main-color);
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  .elements {
    & > * {
      text-align: center;
      font-size: 0.9rem;
      line-height: 1.7rem;
    }
  }
}