.formContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.formFooter {
  width: 70%;
  margin :auto;
}
.formButtons {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  justify-content: end;
}