.container {
  .blogTitle {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.2rex;
  }
  .author {
    text-align: right;
    font-style: italic;
  }
  .blogThumbnailContainer {
    width: 100%;
    margin: auto;
    aspect-ratio: 8/5;
    position: relative;
    .blogThumbnail {
      object-fit: contain;
    }
  }
  .paragraphs {
    .paragraph {
      .paragraphThumbnailContainer {
        width: 100%;
        margin: auto;
        aspect-ratio: 8/5;
        position: relative;
        .paragraphThumbnail {
          object-fit: contain;
          box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
        }
      }
      .paragraphTitle {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        letter-spacing: 0.2rex;
      }
      .paragraphMessage {
        line-height: 2rem;
        letter-spacing: 0.2rex;
      }
    }
  }
}