.blogsContainer {
  .adminButtons {
    display: flex;
    gap: 1ex;
    margin: 1rex;
  }
  .blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;
    gap: 1rem;
    width: 60%;
    margin: 5rem auto;
    .blog {
      position: relative;
      .index {
        position: absolute;
        left: 4%;
        top: 3.5%;
        padding: 0.5rex 1rex;
        font-weight: bold;
        background: white;
        color: var(--main-color);
        z-index: 1;
        border-radius: 1rex;
        font-size: 1.2rem;
      }
    }
  }
}