.blogsContainer {
  .adminButtons {
    display: flex;
    gap: 1ex;
    margin: 1rex;
  }
  .blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;
    gap: 1rem;
    width: 60%;
    margin: 5rem auto;
    .blog {

    }
  }
}