.navigationBarContainer {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 1rem;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  transition: all 0.3s ease;
  &.shrunk {
    padding: 0 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    font-size: 0.8em;
  }
  .imageContainer {
    position: relative;
    aspect-ratio: 5/2;
    width: 10%;
    .image {
      object-fit: contain;
    }
  }
  .navigationBarItemsContainer {
    & > * {
      margin: 0 2rex;
      font-weight: 600;
      transition: 0.2s ease;
      cursor: pointer;
      &:hover {
        color: var(--main-color);
      }
    }
  }
}