.container {
  width: 100%;
  min-height: 35em;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.3rem;
  .innerContainer {
    width: 85%;
    height: 30em;
    border: 1px dashed black;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    .innerMessage {
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
      margin: auto;
    }
  }
  .fileContainer {
    position: relative;
    width: 100%;
    height: 100%;
    .xLogoContainer {
      position: absolute;
      z-index: 1;
      left: 95%;
      top: 3%;
      font-size: 1.2rem;
      border: 1px solid black;
      border-radius: 1rex;
      cursor: pointer;
      background-color: white;
      &:hover {
        color: var(--main-color);
      }
    }
    .fileThumbnail {
      object-fit: contain;
    }

  }
}
.fileInput {
  display: none;
}