.container {
  padding: 1rex;
  border-radius: 1rex;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  cursor: pointer;
  transition: 0.2s ease;
  &:hover {
    transform: scale(1.05);
  }
  .editIcon {
    position: absolute;
    z-index: 1;
    left: 82%;
    top: 5%;
    padding: 0.5ex 1ex;
    cursor: pointer;
    transition: 0.2s ease;
    background-color: white;
    border-radius: 2rem;
    &:hover {
      color: white;
      background-color: var(--main-color);
    }
  }
  .imageContainer {
    position: relative;
    aspect-ratio: 1;
    width: 100%;
    .image {
      object-fit: fill;
      border-radius: 1rem;
    }
  }
  .blogInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    .blogTitle {
      font-weight: bold;
      letter-spacing: 0.5rex;
      line-height: 3rem;
    }
    .blogAuthor {
      text-align: right;
      font-weight: bold;
      font-size: 0.8rem;
      width: 90%;
      margin: auto;
    }
  }
}