@use '@/styles/global' as gstyle;

.regulatoryComplianceContainer {
  width: 60%;
  margin: 0 auto;
  padding: 4rem 0;
  .title {
    @include gstyle.circleTitle();
    margin: 0 0 2rem auto;
  }
  .regulatoryComplianceItemsContainer {
    background-color: white;
    border-radius: 2rem;
    padding: 4rem 1rem;
    .regulatoryComplianceMessage {
      width: 70%;
      text-align: center;
      margin: auto;
      padding-bottom: 2rem;

    }
    .regulatoryComplianceItems {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      @media (max-width: 1500px) {
        display: flex;
        flex-direction: column;
      }
      & > * {
        box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
        border-radius: 1rex;
        padding: 2rem 0;
      }
    }
  }
}