.aboutContainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  .leftLayout, .rightLayout {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2rem;
    @media (max-width: 1400px) {
      flex-direction: column;
    }
    .aboutInfo {
      width: 100%;
    }
    .imageContainer {
      position: relative;
      aspect-ratio: 5/3;
      width: 100%;
      .image {
        object-fit: fill;
        mask-image: radial-gradient(circle, black 70%, transparent 100%);
      }
    }
  }
}