.container {
  width: 90vw;
  height: 90vh;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
  border-radius: 1rem;
  position: relative;
  .closeIcon {
    position: absolute;
    left: 98%;
    top: 2.5%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
      color: var(--main-color);
    }
  }
  .modalTitle {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
  .modalMain {
    position: relative;
    height: 80%;
    aspect-ratio: 8/5;
    margin: auto;
    &.adminModalMain {
      height: 70%;
    }
    .image {
      object-fit: contain;
    }
  }
  .modalBody {
    .products {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2ex;
      padding: 2rem;
      .icon {
        cursor: pointer;
      }
      .productImageContainer {
        position: relative;
        width: 10%;
        aspect-ratio: 1;
        height: auto;
        cursor: pointer;
        transition: 0.2s ease;
        opacity: 0.5;
        &.selected {
          opacity: 1;
        }
        &:hover {
          opacity: 1;
        }
        .productImage {
          object-fit: fill;
        }
      }
    }
  }
}