@import "tailwindcss";

:root {
  /*--background: #ffffff;*/
  /*--foreground: #171717;*/
  --main-color: #a81c25;
  --main-color-hovering: #be373e;
  --main-color-green: #6c9170;
  --main-color-orange: #f26430;
  --main-color-yellow: #f2a922;
  --main-color-grey: #6a6b6c;

  --background-color-green: #bed0bf;
  --background-color-white: #fff4f0;

}

@theme inline {
  /*--color-background: var(--background);*/
  /*--color-foreground: var(--foreground);*/
  /*--font-sans: var(--font-geist-sans);*/
  /*--font-mono: var(--font-geist-mono);*/
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--background: #0a0a0a;*/
    /*--foreground: #ededed;*/
  }
}

body {
  /*background: var(--background);*/
  /*color: var(--foreground);*/
  font-family: Arial, Helvetica, sans-serif;

  @media (min-width: 324px) {
    font-size: 6px;
  }
  @media (min-width: 640px) {
    font-size: 8px;
  }
  @media (min-width: 768px) {
    font-size: 12px;
  }
  @media (min-width: 1024px) {
    font-size: 16px;
  }
}

.title-left {
  color: white;
  font-size: 3ex;
  font-weight: bold;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: var(--main-color);
  padding: 1.5rex 3rex;
}
.title-right {
  color: white;
  font-size: 3ex;
  font-weight: bold;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: var(--main-color);
  padding: 1.5rex 3rex;
}
.horizontalLine {
  border-top: 0.1px solid black;
}
.modifiedButtonStyle {
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  padding: 1ex 2ex;
  font-size: 0.9rem;
  color: white;
  background-color: var(--main-color);
  border-radius: 1ex;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    background-color: var(--main-color-hovering);
  }
}