.top {
  .navigationBar {

  }
  .introduction {

  }
}
.mainBody {
  .about {
    width: 60%;
    margin: 5rem auto;
  }
  .productionSolution {
    background-color: var(--background-color-green);
  }
  .products {

  }
  .regulatoryCompliance {
    background-color: var(--background-color-green);
  }
  .blogs {

  }
  .faq {

  }
  .contactUs {

  }
}
.footer {

}