@use '@/styles/global' as gstyle;

.top {
  .navigationBar {

  }
  .introduction {

  }
}
.mainBody {
  .about {
    width: 60%;
    margin: 5rem auto;
    opacity: 0;
    transform: translateX(-50px);
    &.fadeInStyle {
      @include gstyle.fadeInLeft();
    }
  }
  .productionSolution {
    background-color: var(--background-color-green);
  }
  .products {

  }
  .regulatoryCompliance {
    background-color: var(--background-color-green);
    .regulatoryComplianceContainer {
      opacity: 0;
      transform: translateX(-50px);
      &.fadeInStyle {
        @include gstyle.fadeInLeft();
      }
    }
  }
  .blogs {
  }
  .faq {

  }
  .contactUs {

  }
}
.footer {

}