.navigationBar {

}
.introduction {

}
.about {

}
.productionSolution {
  background-color: var(--background-color-green);
}
.regulatoryCompliance {
  background-color: var(--background-color-green);
}