.introductionContainer {
  position: relative;
  height: 100vh;
  overflow: hidden;
  .viewport {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .track {
      display: flex;
      height: 100%;
      will-change: transform;
      transition: transform 1000ms ease-in-out;
      .imageContainer {
        position: relative;
        flex: 0 0 100%;
        height: 100%;
        .image {
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
  .dots {
    position: absolute;
    left: 50%;
    top: 95%;
    z-index: 2;
    transform: translateX(-50%, -95%);
    display: flex;
    gap: 10px;
    .dot {
      width: 10px;
      height: 10px;
      border: 1px solid white;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: white;
      }
      &.active {
        background-color: white;
      }
      &.inactive {
        background-color: transparent;
      }
    }
  }
}