.inputContainer {
  margin: 0.4rex auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  .inputLabel {
    font-size: 0.9rem;
    font-weight: 600;
    .errorMessage {
      color: red;
    }
  }
  .inputElement {
    border: 0.1px solid black;
    padding: 1rex 1rex;
    border-radius: 1ex;
    font-size: 0.9rem;
  }

}