.authShellContainer {
  display: flex;
  border-radius: 2rem;
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  .imageContainer {
    width: 100%;
    position: relative;
    aspect-ratio: 1/1;
    .image {
      object-fit: fill;
      border-radius: 2rem 0 0 2rem;
    }
  }
  .authFormContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logoContainer {
      width: 35%;
      aspect-ratio: 8/3;
      position: relative;
      cursor: pointer;
      transition: 0.2s ease;
      margin: 2rem 0;
      &:hover {
        transform: scale(1.05);
      }
      .logo {
        object-fit: contain;
      }
    }
    .formContainer {
      width: 100%;
      position: relative;
      margin: auto;
      .label {
        font-weight: 600;
        font-size: 1.4rem;
        text-align: center;
      }
      .form {
        .buttonContainer {
          display: flex;
          justify-content: left;
          width: 70%;
          margin: auto;
        }
      }
    }
  }
}