@use '@/styles/global' as gstyle;

.productSolutionContainer {
  width: 60%;
  margin: auto;
  padding: 5rem 0;
  .title {
    @include gstyle.circleTitle();
    margin-bottom: 2rem;
  }
  .productSolutionItemsContainer {
    display: flex;
    flex-direction: column;
    .productSolution {
      opacity: 0;
      transform: translateX(-50px);
      &.fadeInStyle {
        @include gstyle.fadeInLeft();
      }
      .arrowIconContainer {
        position: relative;
        aspect-ratio: 1;
        width: 2rem;
        margin: 1rem auto;
        .arrow {
        }
      }
    }
  }
}