.contactUsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 60%;
  margin: auto;
  padding: 4rem 0;
  .contactUsFormContainer {
    width: 100%;
  }
  .imageContainer {
    position: relative;
    aspect-ratio: 4/5;
    width: 100%;
    @media (max-width: 1400px) {
      display: none;
    }
    .image {
      mask-image: radial-gradient(circle, black 70%, transparent 100%);
      object-fit: contain;
    }
  }
}